page-lista-ruta {
  .button-md{
    height: 4.5rem;
  }
}


/*
inicia_ruta(){

  let loading = this.loadingCtrl.create({
    content: "Espere por favor..."
  });
  loading.present();

  this.equipoProvider.rutasSeleccionadas = this.equipoProvider.rutasSeleccionadas.filter(Boolean);

  console.log( "THIS_RUTAS: "+JSON.stringify(this.equipoProvider.rutasSeleccionadas) );

  if(this.equipoProvider.rutasSeleccionadas.length > 0){
        for(let to of this.equipoProvider.rutasSeleccionadas){
          this.rutaProvider.iniciar_ruta(to.idRuta, this.usuarioProvider.idUsuario)
          .subscribe( ()=>{
            console.log("INICIA RUTA:"+this.idRuta);
            this.equipoProvider.agrega_rutaToLista(to.idRuta, this.rutaProvider.dataRuta.idEjecucionRuta, this.rutaProvider.dataRuta.idUsuario, false);
            console.log("LISTA RUTA: "+JSON.stringify(this.equipoProvider.rutaToLista));
          });
        }
        for (let to of this.equipoProvider.rutasSeleccionadas){
          console.log(JSON.stringify(to.idRuta));
          this.rutaProvider.carga_equipos(to.idRuta)
          .then(data=> {
            //COMPROBAR RUTAS EQUIPOS
            //for (let to of this.equipoProvider._equipoTO){
              //console.log( "EQUIPO: "+ JSON.stringify(to));
            //}
          });
        }
        console.log( "EQUIPO: "+ JSON.stringify(this.equipoProvider.rutasSeleccionadas));

        this.flag = true;

  }else{
    this.alertCtrl.create({
      title: "Error!",
      subTitle: "Seleccione rutas",
      buttons: ["Ok"]
    }).present();

  }
  if(this.flag){
    this.flag = false;
    this.navCtrl.push("IniciaRutaPage", {'rutasSeleccionadas':this.equipoProvider.rutasSeleccionadas});
    console.log( "FIN LISTA RUTA");

  }
loading.dismiss();
}
*/

/*
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button ion-button
              *ngIf="usuarioProvider.activo()"
              (click)="usuarioProvider.cerrar_sesion()">
        Salir
      </button>
    </ion-buttons>
    <ion-title text-center>Rutas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item no-lines>
    <ion-avatar item-start>
      <img src="assets/img/avatar.png">
    </ion-avatar>
    <h2>{{ usuarioProvider.codigoUsuario }}</h2>
  </ion-item>

    <h1 text-center>Seleccione Ruta</h1>

  <ion-list radio-group [(ngModel)]="idRuta">

  <ion-item *ngFor="let ruta of usuarioProvider.dataRuta">
    <ion-label> {{ ruta.nombre }} </ion-label>
    <ion-radio [value]="ruta.idRuta"></ion-radio>
  </ion-item>

</ion-list>

<div padding>
<button ion-button
        block
        color="dark"
        (click)="ruta_seleccionada( )">
  Iniciar Ruta
</button>
</div>


</ion-content>

*/
