<ion-header>

  <ion-navbar hideBackButton>
    <ion-title text-center>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding text-center>
  <ion-item text-right>
    <ion-label>{{date  | date: 'dd-MM-yyyy HH:mm'}}</ion-label>
  </ion-item>
  <div class="img">
    <img src="assets/img/colbunn.png"/>
  </div>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Nombre de Usuario"
      [(ngModel)]="username"
      ></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>

  <ion-item>

    <ion-label>Dominio</ion-label>
    <ion-select [(ngModel)]="dominio" >
      <ion-option *ngFor="let item of dominioProvider.dominio" [(value)]="item.nombre">{{ item.nombre }}</ion-option>
      <ion-option *ngIf="dominioProvider.dominio.length == '0'" class="no-dominios" [(value)]="dominio">
        {{ dominio }}
      </ion-option>
    </ion-select>
  </ion-item>
<div padding>
    <button ion-button
            color="secondary"
            block
          (click)="ingresar()"
          [disabled]=" username.length < 3 || password.length < 3 ">
    Ingresar
  </button>
</div>

</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar text-right>
    <ion-label>v 1.0.6</ion-label>
  </ion-toolbar>
</ion-footer>
