page-lista-equipo {
  .margen{
    margin-bottom: -20px;
  }
  .button-md{
    height: 4.5rem;
  }
  .right {
  float: right;
}
}
/*
<ion-header>

  <ion-navbar>
    <ion-title text-center>Lista de Equipo</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item no-lines>
    <ion-avatar item-start>
      <img src="assets/img/avatar.png">
    </ion-avatar>
    <h2>{{ usuarioProvider.codigoUsuario }}</h2>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <strong>Ejecutando Ruta: </strong> {{ rutaProvider.dataRuta.nombre }}
          </ion-item>
          <ion-item class="margen" no-lines *ngFor="let equipo of rutaProvider.dataEquipos; let i = index">
            <ion-grid>
            <ion-row>
              <ion-col col-2 class="right">
                {{equipo.idEquipo}}
                </ion-col>
                <ion-col col-10 text-wrap>
                  <strong>{{ equipo.nombre }}</strong>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>

  <hr>

<ion-item>
  <h1 text-center>Listo para Escanear</h1>
</ion-item>
  <ion-input style="display:none" id="broadcastData"></ion-input>
<ion-input type="hidden" [(ngModel)]="fecha" value="{{date  | date: 'yyyyMMdd HHmmss'}}"></ion-input>
<div padding>
  <button ion-button
          color="primary"
          block
          style="display:none"
          id="btnScan"
          (click)="scan()">
  Iniciar Scan
</button>
</div>

<div padding>
<button ion-button
        block
        color="dark"
        (click)="cerrar_ruta()">
  Finalizar Ruta
</button>
</div>



</ion-content>









*/
/*
<ion-item class="margen" no-lines *ngFor="let equipo of rutaProvider.dataEquipos; let i = index">
  {{ i+1 }}  <ion-col col-3 *ngIf="equipoProvider.equipo != equipo.codigoSAP"><strong >{{ equipo.nombre }}</strong></ion-col>
  <ion-col col-3 *ngIf="equipoProvider.equipo == equipo.codigoSAP"><strong style="color:green;">{{ equipo.nombre }} </strong> <ion-icon style="color:green;" name="checkmark"></ion-icon></ion-col>
</ion-item>

<ion-input disabled="true" [(ngModel)]="scannerData" id="broadcastData" (keyup)="updateList($event)"></ion-input>

ionViewWillEnter(){
  console.log("ionViewWillEnter....");
  for (var to in this.equipoProvider._inspeccion) {
   if(this.equipoProvider._inspeccion[to].equipo == this.rutaProvider.codigoSAP){

      this.equipoSAP = this.equipoProvider._inspeccion[to].equipo;
      this.codigoSAP = this.rutaProvider.codigoSAP;
    }
    console.log("EQUIPO...."+this.equipoSAP);
    console.log("CODIGOSAP...."+this.codigoSAP);
}
}

<ion-col col-10 text-wrap *ngIf="idEquipo == equipo.idEquipo">
  <strong style="color:green;" title="{{ equipo.nombre }}">{{ equipo.nombre }} </strong>
  <ion-icon style="color:green;" name="checkmark"></ion-icon>
</ion-col>


<ion-col col-3 *ngIf="equipoSAP != ''">
  <strong style="color:green;" title="{{ equipo.nombre }}">{{ equipo.nombre }} </strong>
  <ion-icon style="color:green;" name="checkmark"></ion-icon>
</ion-col>


<ion-col col-3 *ngIf="equipoSAP != ''">
  <strong style="color:green;">{{ equipo.nombre }} </strong>
  <ion-icon style="color:green;" name="checkmark"></ion-icon>
</ion-col>




<ion-header>

  <ion-navbar hideBackButton>
    <ion-title text-center>Ruta: {{ rutaProvider.dataRuta.nombre }} </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item no-lines>
    <ion-avatar item-start>
      <img src="assets/img/avatar.png">
    </ion-avatar>
    <h2>{{ usuarioProvider.codigoUsuario }}</h2>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item no-lines>
            <strong>Fecha Ejecución: </strong> {{ rutaProvider.dataIniciaRuta.fechaEjecucionInicio }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 text-center>Lista de Equipos</h1>
  <ion-grid>
  <ion-row>
    <ion-col col-3>Código</ion-col>
    <ion-col col-4>Nombre</ion-col>
    <ion-col col-2>Crítico</ion-col>
    <ion-col col-3>Estado</ion-col>
  </ion-row>
  <ion-row *ngFor="let equipo of rutaProvider.dataEquipos">
    <ion-col col-3>{{ equipo.codigoKKS }}</ion-col>
    <ion-col col-4>{{ equipo.nombre }}</ion-col>
    <ion-col col-2 *ngIf="equipo.critico == '0'">NO</ion-col>
    <ion-col col-2 *ngIf="equipo.critico == '1'">SI</ion-col>
    <ion-col col-3 *ngIf="equipoProvider.equipo == equipo.codigoKKS">TRUE</ion-col>
    <ion-col col-3 *ngIf="equipoProvider.equipo != equipo.codigoKKS">FALSO</ion-col>
  </ion-row>
</ion-grid>

<ion-item>
  <ion-label>Scan:</ion-label>
  <ion-input disabled="true" id="broadcastData"></ion-input>
</ion-item>


<ion-input type="hidden" [(ngModel)]="fecha" value="{{date  | date: 'yyyyMMdd HHmmss'}}"></ion-input>
<div padding>
  <button ion-button
          color="primary"
          block
          (click)="scan()">
  Iniciar Scan
</button>
</div>

<div padding>
<button ion-button
        block
        color="dark"
        (click)="cerrar_ruta()">
  Cerrar Ruta
</button>
</div>



</ion-content>

*/
