page-inicia-ruta {
  .button-md{
    height: 4.5rem;
  }
}



/*
carga_equipos(){

  let loading = this.loadingCtrl.create({
    content: "Espere por favor..."
  });
  loading.present();

  //GUARDA EL ID RUTA SELECCIONADA EN RUTA PROVIDER
  this.rutaProvider.guardarRuta(this.idRuta);

  console.log("LISTA RUTATO: "+JSON.stringify(this.equipoProvider.listaRutaTO));
  for (let to of this.equipoProvider.listaRutaTO){
    console.log("LISTA RUTATO: "+JSON.stringify(to));
    if(to.idRuta == this.idRuta){
      console.log("ID RUTA: "+JSON.stringify(to.idRuta));
         this.listaEquipo = to;
         console.log("EQUIPO A INSPECCIONAR: "+JSON.stringify(this.listaEquipo));

     }
  }

    if( this.idRuta > "0" ){
      // continuar a la siguiente pantalla
      //let equiposTO = this.listaEquipo;



        this.navCtrl.push( "ListaEquipoPage", { 'listaEquipo':this.listaEquipo } );


    }else{
      this.alertCtrl.create({
        title: "Error!",
        subTitle: "Seleccione una ruta",
        buttons: ["Ok"]
      }).present();

    }
    loading.dismiss();

}
*/
